.container-menu{
        max-width: 1440px;
        margin: 0 auto;
}
.menu{
    background-color: var(--color-primary);
    padding: 1.75rem 0;
    width: 100%;
    position: fixed;
    top: 0;

}

.menu-flex{
    display: flex;
    justify-content: space-between;

}

.menu-column{
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: flex-start;
}
.menu-column.menu-second-column {
    justify-content: flex-end;
  }

.navbar-link{
    font-family: var(--font-primary);
    color: var(--color-white-fixed);
    margin-right: 80px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 53px;
    height: 32px;
    font-size: 14px;
    font-weight: 400;
    border-radius: 4px;
}

.navbar-link:hover, .navbar-link.actived{
    background-color: var(--color-grey-2);
    text-decoration: underline;
}
.logoSite{
    color: #FFFFFF;
    margin-left: 20px;
    font-family: var(--font-primary);
}